* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f1f1f; /* Dark background */
    color: #fff;
}

.container {
    width : 400px;
    padding: 40px;
    background-color: #2d2d2d; /* Dark container background */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition : 0.5s
}

input{
    font-family: 'Poppins', sans-serif;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    transition : 0.5s;
    font-size: 28px;
}



input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #3d3d3d;
    color: #fff;
    border: 1px solid #4a4a4a;
    outline:none;
    border-radius: 5px;
}

input::placeholder {
    color: #999;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #6932a8; /* Premium purple */
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5a2893; /* Darker purple on hover */
}

.link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #6932a8; /* Premium purple links */
    font-size : 15px;
    transition : 0.5s

}

.link:hover {
    color: #5a2893;
}